/* CSS Document */
@font-face {
    font-family: Roboto; 
    src: url(./ttf/Roboto-Regular.ttf);
}
.body{
    font-family: Roboto; 
    background-color: #f8f8f8;
}
.main-image-contacts {
    background-image: url(./contact_banner.jpg); 
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-block-contacts {
    font-size: 40px; 
    width: 400px; 
    padding-left: 15px;    
    color: rgb(225, 222, 222);
}
.main-text-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.main-text_container-1-contacts {
    width: 50%; 
    padding-top: 10px;
    text-align: justify;
    text-indent: 30px;
}
.main-text_container-2-contacts {
    width: 50%; 
    padding-top: 10px;
    text-align: justify;
    text-indent: 30px;
}
                    /* ADAPTIV */

@media (max-width: 1024px) {
    .header{
        height: 50px;
        font-size: 20px;
    }
    .main{
        padding-top: 0px;
    }   
    .main-block-1 {
        color: blanchedalmond;
    }
    .header-picture{
        height: 40px;
    }
    .main {
        margin-top: 50px;
    }
}
@media (max-width: 970px) {
    .main-image-contacts{
        display: none;
}
}
@media (max-width: 970px) {
    .main-image-adaptiv{
        display: block;
    }
}
@media (max-width: 410px) {
    .main-block-contacts{
        padding: 0;
    }
}
@media (max-width: 410px) {
    .main-text_container-2-contacts{
        width: 70%;
    }
}
@media (max-width: 410px) {
    .main-text_container-1-contacts{
        width: 70%;
    }
}

@media (max-width: 320px) {
    .main-text_container-2-contacts{
        width: 80%;
    }
}
@media (max-width: 320px) {
    .main-text_container-1-contacts{
        width: 80%;
    }
}
